<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>香港</string>
	<string>西安</string>
	<string>重庆</string>
	<string>惠州</string>
	<string>泉州</string>
	<string>汕尾</string>
	<string>咸阳</string>
	<string>天津</string>
	<string>昆明</string>
</array>
</plist>
